<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'player/style.css' %}">
</head>
<body>
    <!-- navigation bar -->
    <div class="nav">
        <!-- TODO -->
        <!-- temporary link to mini-game table of contents -->
        <a href="{% url 'mini_quiz:index' %}">Go to Mini-Quiz!</a>
    </div>

    <!-- content -->
    <div class="content">
        <h1>Welcome to our Educational Platformer Game!</h1>
    </div>

    <!-- sign in/create/play as guest -->
    <div class="sign-in">
        <!-- dashboard page -->
        <div class="sign-in">
            <a href="{% url 'player:login' %}">
                <button>Log In</button>
            </a>
        </div>

        <div class="play-as-guest">
            <a href="">
                <button>Play as Guest</button>
            </a>
        </div>

        <!-- create account page -->
        <div class="create-account">
            <a href="{% url 'player:create-account' %}">
                <button>Create Account</button>
            </a>
        </div>
    </div>
</body>
</html>