body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* display */
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    /* padding & margin */
    margin: 0;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/static/mini_quiz/images/question-mark-island.jpg");

    /* Stretches the background image to cover 100% of both the width and height of the body. This makes the image fill the entire screen. */
    background-size: 100% 100%;

    /* Ensures that the background image does not repeat itself. */
    background-repeat: no-repeat;

    /* Change this value to adjust the opacity */
    /* opacity: 0.2;  */

    /* Ensure it's behind the content */
    z-index: -1;
}

.title {
    /* paddings and margins */
    padding-top: 180px;
    margin-left: 900px;

    font-size: 1.5rem;
    font-weight: bolder;
}

.start-quiz {
    /* paddings and margins */
    margin-left: 900px;

    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background */
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;

    /* size of the div container */
    height: 300px;
    width: 500px;
}
.start-quiz p {
    /* paddings and margins */
    padding-left: 50px;

    /* size */
    font-size: 2rem;
    width: 480px;
}

.buttons {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* paddings and margins */
    margin-top: 4px;
    margin-bottom: 4px;

    /* shape */
    width: 480px;
    height: 50px;
}
.buttons button {
    /* paddings and margins */
    margin-left: 35px;
    margin-right: 35px;

    /* shape */
    width: 180px;
    height: 40px;
}
.back-button button {
    background: #A2C1E5;
    color: black;
    border: none;
    border-radius: 15px;

    font-size: 1.1rem;
}
.back-button button:hover {
    background: #8AA6CF;
    cursor: pointer;
    color: white;
}
.start-quiz-button button {
    background: #A2CDAA;
    color: black;
    border: none;
    border-radius: 15px;

    font-size: 1.1rem;
}
.start-quiz-button button:hover {
    background: #8AB78F;
    cursor: pointer;
    color: white;
}