body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding & margin */
    margin: 0;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/static/mini_quiz/images/quiz-background.jpg");

    /* Stretches the background image to cover 100% of both the width and height of the body. This makes the image fill the entire screen. */
    background-size: 100% 100%;

    /* Ensures that the background image does not repeat itself. */
    background-repeat: no-repeat;

    /* Change this value to adjust the opacity */
    opacity: 0.5; 

    /* Ensure it's behind the content */
    z-index: -1;
}

.title {
    padding-top: 180px;
}

.start-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(255, 255, 255, 0.7);
}
.start-quiz p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.start-quiz button {
    width: 10rem;
    margin-top: 4px;
    margin-bottom: 4px;
}