<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platformer!</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'platformer/index.css' %}">
</head>
<body>
    <div class="navigation">
        <a href="{% url 'player:home' %}" style="color: white;">
            <button class="btn">< Back to Home</button>
        </a>
    </div>
    
    <!-- the platfomer game is placed here -->
    <canvas></canvas>

    <!-- get some info from database, particularly the user's current level -->
    <div class="info" style="display: none;">
        {{ request.user.current_level|json_script:"current_level" }}
    </div>

    <!-- create a submit button -->
    <div class="submit" style="display: none;">
        <a id="submit" href="{% url 'mini_quiz:start_quiz' request.user.current_level %}"></a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" 
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    
    <!-- Import the JavaScript codes -->
    <script>
        console.log("got here! (index.html)!");
    </script>
    {% load static %}
    <script src="{% static 'platformer/utils.js' %}"></script>
    <script src="{% static 'platformer/data/collisions.js' %}"></script>
    <script src="{% static 'platformer/classes/CollisionBlock.js' %}"></script>
    <script src="/static/platformer/classes/Sprite.js"></script>
    <script src="{% static 'platformer/classes/Player.js' %}"></script>
    <script src="{% static 'platformer/eventListeners.js' %}"></script>
    <script src="{% static 'platformer/index.js' %}"></script>
</body>
</html>