body {
    position: relative;

    /* This makes the body element take up the full height of the viewport (the visible part of the web page). */
    height: 100vh;
    
    /* This makes the body element take up the full width of the viewport. */
    width: 100vw;
    
    /* Hides any overflow content both vertically (overflow-y) and horizontally (overflow-x). This prevents scrollbars from appearing if the content exceeds the size of the viewport. */
    overflow: hidden;

    display: flex;
    flex-direction: column;

    /* Center horizontally */
    /* justify-content: center; */

    /* Center vertically */
    align-items: center;
}

/* 
This method creates a semi-transparent overlay on top of the background image using a pseudo-element. 
The ::before pseudo-element creates a full-screen layer that contains the background image.
*/
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/static/player/images/dark-cave-background.jpg");
    
    /* Stretches the background image to cover 100% of both the width and height of the body. This makes the image fill the entire screen. */
    background-size: 100% 100%;

    /* Ensures that the background image does not repeat itself. */
    background-repeat: no-repeat;

    /* Change this value to adjust the opacity */
    opacity: 0.65; 

    /* Ensure it's behind the content */
    z-index: -1;  
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    padding-top: 120px;
}
.nothing {
    width: 200px;
}
.logout {
    padding-top: 10px;
}
.logout button {
    height: 60px;
    width: 200px;
    font-size: 1.5rem;
    font-weight: bold;
}
.heading-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-title h1 {
    /* Text */
    color: #222; /* darker color for better contrast */
    font-size: 3.5rem;
    font-weight: bold;

    /* Center horizontally */
    justify-content: center;
}
.heading-title h2 {
    color: #222; /* darker color for better contrast */
    font-size: 4.2rem;
    font-weight: bold;

    /* Center horizontally */
    justify-content: center;

    /* Paddings */
    padding-bottom: 40px;
}

.box {
    /* When you set display: flex; on the <body> (or any other container element), the direct child elements (such as <div> tags) will by default be placed horizontally, one next to the other. This happens because the default value for the flex-direction property is row. */
    display: flex;

    /* If you want the divs to be stacked vertically instead of horizontally, you can change the flex-direction to column. */
    flex-direction: row;
    /* background-color: rgba(255, 255, 255, 0.50); Slightly transparent background */
    
    /* Box width */
    width: 1300px;

    /* Box height */
    height: 500px;

    /* Box border */
    /* border: 2px solid #000; */
    /* border-radius: 20px; Softer corners */
    /* padding: 30px; More space inside the box */

    /* Center vertically */
    /* align-items: center; */
}

.platformer-game {
    width: 400px;
    height: 500px;
    /* background-color: rgba(63,56,81,255); */
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.platformer-game-icon {
    width: 280px;
    height: 280px;
    margin-top: 20px;
    border-radius: 100%;
    background: rgba(63,56,81,255);
    background-image: url("/static/player/images/platformer-background.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 6px solid #fff; */
}
.platformer-game-title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.platformer-play-button button {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    background: rgba(63,56,81,255);
}
.platformer-play-button button:hover {
    color: white;
    background: chocolate;
}

.achievements {
    width: 400px;
    height: 500px;
    /* background-color: rgba(212, 230, 248, 0.6); */
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achievements-icon {
    width: 280px;
    height: 280px;
    margin-top: 20px;
    border-radius: 100%;
    background: #FFFDD0;
    background-image: url("/static/player/images/golden-trophy.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 5px solid #fff; */
}
.achievements-title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    margin-top: 20px;
}
.achievements-button button {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    background: #FFFDD0;
}
.achievements-button button:hover {
    color: white;
    background: goldenrod;
}

.past-mini-quiz {
    width: 400px;
    height: 500px;
    /* background-color: rgba(212, 223, 230, 0.6); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.past-mini-quiz-icon {
    width: 280px;
    height: 280px;
    margin-top: 20px;
    border-radius: 100%;
    background-image: url("/static/player/images/mini-quiz-icon.png");
    background-size: 100% 100%;
}
.past-mini-quiz-title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    margin-top: 20px;
}
.past-mini-quiz-button button {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    background: #494d4d;
    border: none;
}
.past-mini-quiz-button button:hover {
    color: black;
    background: gainsboro;
}