body {
    position: relative;

    /* This makes the body element take up the full height of the viewport (the visible part of the web page). */
    height: 100vh;
    
    /* This makes the body element take up the full width of the viewport. */
    width: 100vw;
    
    /* Hides any overflow content both vertically (overflow-y) and horizontally (overflow-x). This prevents scrollbars from appearing if the content exceeds the size of the viewport. */
    overflow: hidden;

    display: flex;
    flex-direction: column;

    /* Center horizontally */
    justify-content: center;

    /* Center vertically */
    align-items: center;
}

/* 
This method creates a semi-transparent overlay on top of the background image using a pseudo-element. 
The ::before pseudo-element creates a full-screen layer that contains the background image.
*/
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/static/player/images/snowy-background.jpg");
    
    /* Stretches the background image to cover 100% of both the width and height of the body. This makes the image fill the entire screen. */
    background-size: 100% 100%;

    /* Ensures that the background image does not repeat itself. */
    background-repeat: no-repeat;

    /* Change this value to adjust the opacity */
    opacity: 0.5; 

    /* Ensure it's behind the content */
    z-index: -1;  
}

.heading {
    display: flex;

    /* Text */
    color: #222; /* darker color for better contrast */
    font-size: 3.6rem;
    font-weight: bold;

    /* Center horizontally */
    justify-content: center;

    /* Paddings */
    padding-top: 40px;
    padding-bottom: 20px;
}

.box {
    /* When you set display: flex; on the <body> (or any other container element), the direct child elements (such as <div> tags) will by default be placed horizontally, one next to the other. This happens because the default value for the flex-direction property is row. */
    display: flex;

    /* If you want the divs to be stacked vertically instead of horizontally, you can change the flex-direction to column. */
    flex-direction: row;
    
    /* Box width */
    width: 1020px;

    /* Box height */
    height: 540px;

    /* Box border */
    /* border: 5px solid #000; */
    /* border-radius: 20px; Softer corners */
    /* padding: 30px; More space inside the box */

    /* Center vertically */
    align-items: center;
}

.button {
    margin: 20px;
    border-radius: 40px;
}

.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: rgba(230, 212, 248, 0.6);
}
.sign-in-title {
    font-size: 1.9rem;
    padding: 40px;
    font-weight: bold;
    color: white;
    /* text-shadow: 0px 0px 8px purple; */
}
.form-signin {
    width: 260px;
}
.form-floating {
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-control {
    border-radius: 30px;
}
.login-button {
    background-color: rgb(200, 162, 200);
    border-radius: 30px;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}
.login-button:hover {
    background-color: pink;
}

.play-as-guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: rgba(212, 230, 248, 0.6);
}
.play-as-guest-title {
    font-size: 1.9rem;
    padding: 40px;
    font-weight: bold;
    color: white;
    /* text-shadow: 0px 0px 8px purple; */
    margin-top: 80px;
}
.play-as-guest-button-container {
    width: 260px;
}
.play-as-guest-button {
    background-color: rgb(162, 213, 242);
    border-radius: 30px;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}
.play-as-guest-button:hover {
    background-color: aqua;
}

.create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: rgba(212, 223, 230, 0.6);
}
.create-account-title {
    font-size: 1.9rem;
    padding: 40px;
    font-weight: bold;
    color: white;
    /* text-shadow: 0px 0px 8px purple; */
}
.create-account-button {
    background-color: rgb(211, 211, 211);
    border-radius: 30px;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}
.create-account-button:hover {
    background-color: grey;
}