<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Quiz Level {{ level }}</title>    

    {% load static %}
    <link rel="stylesheet" href="{% static 'mini_quiz/style.css' %}">

    <script>
        // function to get the query parameter value by name
        function getQueryParameter(name) {
            const params = new URLSearchParams(window.location.search);
            return params.get(name);
        }
        // display the query parameter value on the page
        document.addEventListener("DOMContentLoaded", () => {
            const message = getQueryParameter('message');
            const answerId = getQueryParameter('answer_id');
            // decode the message (in case of URL encoding)
            const decodedMessage = decodeURIComponent(message);
            // check if the message is "incorrect"
            if (decodedMessage == 'incorrect') {
                const answerElement = document.getElementById(`answer-${answerId}`);
                if (answerElement) {
                    answerElement.classList.add('highlight');
                }
            }
            console.log('decoded message: ' + decodedMessage);
        })
    </script>
</head>

<body>
    <h1>Welcome to Mini Quiz Level {{ level }}</h1>

    <!-- temporary so that goes back to home page -->
    <div class="temp">
        <a href="{% url 'mini_quiz:index' %}">Home (Mini-Quiz Table of Contents)</a>
    </div>

    <!-- get some info for websocket -->
    <div class="info">
        {{ request.user.id|json_script:"user_id" }}
        {{ quiz_id|json_script:"quiz_id" }}
    </div>

    <!-- add the timer here -->
    <div class="timer">
        You have <span id="timer"></span> seconds...
    </div>

    <!-- each "question" is a Question model object -->
    <div class="question">
        {% for question_and_answers in page_obj %}
            <p>{{ forloop.counter }}. {{ question_and_answers.question.question_text }}</p>
            
            <!-- show the list of answers -->
            <div class="answers">
                {% for answer in question_and_answers.answers %}
                <div id="answer-{{ answer.answer_id }}" class="answer">
                    <a href="{% url 'mini_quiz:check-answer' quiz_id question_and_answers.question.question_id answer.answer_id %}?page={{ page_obj.number }}&num_pages={{ page_obj.paginator.num_pages }}">
                        <button>
                            {{ answer.answer_text }}
                        </button>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- script to include websocket -->
    <script>
        let timerSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/trial_1/'
        );

        // send the quiz id and username
        let user_id = JSON.parse(document.getElementById('user_id').textContent);
        let quiz_id = JSON.parse(document.getElementById('quiz_id').textContent);
        timerSocket.addEventListener("open", (ev) => {
            timerSocket.send(JSON.stringify({
                'message': 'Sent a Message!',
                'user_id': user_id,
                'quiz_id': quiz_id,
            }));
        })

        console.log('user id: ' + user_id);
        console.log('quiz id: ' + quiz_id);
        console.log('sent a message to WebSocket server!');

        timerSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.getElementById('timer').innerText = data['time'];
        };

        timerSocket.onclose = function(e) {
            console.error('WebSocket closed unexpectedly');

            // activate the submit button -> the FAILED button
        };

    </script>
</body>

</html>