<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Quiz Level {{ level }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'mini_quiz/style.css' %}">
</head>
<body>
    <h1>Welcome to Mini Quiz Level {{ level }}</h1>

    <!-- temporary so that goes back to home page -->
    <div class="temp">
        <a href="{% url 'mini_quiz:index' %}">Home (Mini-Quiz Table of Contents)</a>
    </div>

    <!-- each "question" is a Question model object -->
    <div class="question">
        {% for question_and_answers in page_obj %}
            <p>{{ forloop.counter }}. {{ question_and_answers.question.question_text }}</p>
            
            <!-- show the list of answers -->
            <div class="answers">
                {% for answer in question_and_answers.answers %}
                    <ul>
                        <li>{{ answer.answer_text }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- the "progress" bar to go to different page -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>