<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Quiz Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'mini_quiz/style.css' %}">
</head>
<body>
    <!-- create a button for players to start the quiz -->
    <div class="start-quiz-button">
        <a href="{% url 'mini_quiz:quiz' quiz_id %}">
            <button style="width: 10rem;">START MINI QUIZ</button>
        </a>
    </div>
</body>
</html>